@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
:root{
    background-color: #242424;
}
$screen-ratio : 1vw;
.header{
    background-color: red;
    width: 100%;
    padding: calc(($screen-ratio) * 1);
    display: flex;
    .yt-logo{
        padding: calc(($screen-ratio) * 0.4);
        font-size: calc(($screen-ratio) * 2);
    }
    h1{
        font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 800;
        font-size: calc(($screen-ratio) * 2);
        color: black;
        padding-left: calc(($screen-ratio)*0.2);
        span{
            font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 800;
            color: white;
        }
    }
}

.searchbar{
    padding: calc(($screen-ratio)*2);
    display: flex;
    align-items: center;
    justify-content: center;
    input[type=text]{
        height: calc(($screen-ratio)*4);
        width: 70%;
        font-size: calc(($screen-ratio)*1.5);
        padding-left: calc(($screen-ratio)*1);
        color: white;
        margin-top: calc(($screen-ratio)*5);
        margin-bottom: calc(($screen-ratio)*3);
        background-color: #3c4142;
        border: 1px solid gray;
    }
    button{
        height: calc(($screen-ratio)*4);
        width: 7%;
        font-size: calc(($screen-ratio)*1.5);
        background-color: #dc143c;
        color: white;
        margin-top: calc(($screen-ratio)*5);
        margin-bottom: calc(($screen-ratio)*3);
        cursor: pointer;
    }
}

.playlist-length{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    color: white;
    h3{
        font-size: calc(($screen-ratio) * 2);
        line-height: calc(($screen-ratio) * 4);;
        span{
            color: yellow;
        }
    }
    .speed{
        color: greenyellow;
        font-weight: 900;
        font-size: calc(($screen-ratio) * 2);
        span{
            color: aqua;
        }
    }
}
.not-found{
    background-color: #dc143c;
    width: 100%;
    color: white;
    text-align: center;
    padding: calc(($screen-ratio)*5);
    margin-top: calc(($screen-ratio)*5);
    font-size: calc(($screen-ratio)*1);
}

.footer{
    bottom: 0;
    position: absolute;
    background-color: #3c4142;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: calc(($screen-ratio)*1);
    h5{
        color: white;
    }
}